/* Triangle Paramètres 
.settings-triangle {
  position: fixed;
  top: 45%;  
  right: 0;
  transform: translateY(-50%) rotate(90deg); 
  background-color: var(--nav-active-color);
  padding: 10px;
  border-radius: 15px 0 0 15px;
  z-index: 50;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings-triangle:hover {
  background-color: #ff8800;
}


.list-triangle {
  position: fixed;
  top: 58%; 
  right: 0;
  transform: translateY(-50%) rotate(90deg);
  background-color: var(--nav-active-color);
  padding: 10px;
  border-radius: 15px 0 0 15px;
  z-index: 50;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-triangle:hover {
  background-color: #ff8800;
}*/
