/* Assure que le body, html et root prennent toute la hauteur pour que 100% fonctionne */
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.splash-container {
  background-color: #121212;
  height: 100dvh;
  display: grid;
  place-items: center;
}

.logo-animated {
  width: 120px;
  height: 120px;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.3s ease-in;
}

.logo-animated.loaded {
  opacity: 1;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

/* splashscreen.css */
@media screen and (orientation: landscape) {
  body {
    
  }
  body::before {
    content: "Merci de passer en mode portrait pour utiliser SelfPay.";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: black;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    z-index: 9999;
  }
}

